* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 20px;
  background: #e0e7ef;
  color: #333;
  line-height: 1.6;
}

.form {
  background: #333;
  z-index: 1;
  border-radius: 3px;
  box-shadow: 0 0.1em 0.4em #b7ccde;
  transition: max-width .6ms ease;
  max-width: 25em;

  .cta {
    height: 3em;
    margin-top: 1em;
    .button {
      display: none;
    }
    p {
      color: #fff;
    }
    svg {
      width: 1.5em;
      margin-left: .5em;
      vertical-align: middle;
      display: inline-block;
    }
  }

  &.collapse {
    max-width: 30px;
    min-width: auto;
    left: -30px;
    transform: translate(0%, -50%);
    overflow: hidden;

    .expander {
      display: block;
      &:hover {
        background: red;
      }
    }
  }
  &.success {
    .cta {
      .button {
        display: block;
      }
      p {
        display: none;
      }
    }

  }
  .expander {
    position: absolute;
    background: green;
    border: none;
    padding: 0;
    height: 100%;
    cursor: pointer;
    width: 30px;
    display: none;

    svg {
      width: 30px;
    }
  }
  form {
    padding: 2em;

    fieldset {
      border: none;
    }
    .flexcontainer {
      display: flex;
    }

    input, .button {
      font: inherit;
      color: inherit;
      padding: 0.4em 0.6em;
      border: 1px solid #ccc;
      border-radius: 4px;
      flex-grow: 1;
      text-decoration: none;
      text-align: center;
      margin: 0 3px;
      display: block;
      box-sizing: border-box;
      margin-bottom: 0.5em;
      cursor: pointer;
      background-color: #e9f1ff;
    }
    #url {
      flex-grow: 2;
    }


    input::placeholder {
      color: #bbb;
    }

    .invalid {
      box-shadow: 0 0.15em 0.15em -0.1em rgba(4, 4, 4, 0.1);
      background: red;
    }
  }
}

.wrapper {
  max-width: 90%;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 0.1em 0.4em #b7ccde;
  margin: 0 auto;
}

.map {

  svg {
    vertical-align: bottom;
  }
  &.hide {
  display: none;
}
  .gmap {
    height: 500px;
    display: none;
    &.show {
      display: block;
    }
  }
}

@media only screen and (min-device-width: 1200px) {
  .form {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    min-width: 600px;

  }
  .success + .map {
    opacity: 1;
  }
  .map {
    opacity: 0.1;
    display: block;
  }
}